body {
  font-family: "Montserrat", sans-serif;
  background-image: radial-gradient(ellipse at 0 0, #fff8ce, #ffb61d);
  height: 100vh;
  margin: 0;
}

strong,
span {
  text-transform: uppercase;
}

strong {
  color: brown;
}

header {
  padding: 3.125rem 0;
}

.wrapper {
  max-width: 83.75rem;
  margin: auto;
}

main {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

main > * {
  flex: 1 0 0;
}

.content .content_text h1 {
  font-size: 4.125rem;
  margin: 0 0 3.125rem;
}

.content .content_text p {
  font-weight: 300;
}

.content form input {
  font-family: inherit;
  background-color: transparent;
  outline: 0.0625rem solid #28293e;

  margin-right: 0.8rem;
}

.content form button {
  background-color: #031d44;
  color: white;
  cursor: pointer;
}

.content form input,
.content form button {
  border: none;
  padding: 1.1rem 1.125rem;
  border-radius: 0.375rem;
}

/* animação */

.animation {
  position: relative;
}

.animation > img {
  position: absolute;
}

.animation > img:first-child {
  left: 10px;
  top: 70px;
  animation: topLeft 2s alternate infinite;
}

.animation > img:nth-child(2) {
  right: 50px;
  top: 10px;
  animation: topLeft 1.5s alternate infinite;
}

.animation > img:nth-child(3) {
  right: 50px;
  top: 10px;
  animation: topLeft 3s alternate 0.5s infinite;
}

.animation > img:nth-child(4) {
  left: 10px;
  bottom: -120px;
  animation: topLeft 4s alternate 0.8s infinite;
}

.animation > img:nth-child(5) {
  left: 100px;
  top: -100px;
  animation: topLeft 3s alternate 0.2s infinite;
}

.animation > img:last-child {
  right: 100px;
  bottom: -50px;
  animation: topLeft 2.6s alternate 0.5s infinite;
}

@keyframes topLeft {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-10px, -30px);
  }
}
